/* TODO: Look up CSS inheritance and priority order. */
/* NOTE: Figure out viewport units in a scalable responsive web-design. vw; vh; v-max; v-min. */
/* FUTURE: Do not forget about page layout and respective values. */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", "Lato", sans-serif;
    font-size: 100%;
    background-color: lightcoral;
    color: #212121;
}

.parent {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 130px auto 130px;
    grid-template-areas:
        "item1 item1 item1"
        ". item2 ."
        "item3 item3 item3";
    justify-items: stretch;
    align-items: stretch;
    background-color: #eeeeee;
}

.divitem1 {
    grid-area: item1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #444444;
    color: #eeeeee;
    line-height: 1.2;
}

.divitem2 {
    grid-area: item2;
    margin: 1rem 0;
}

.divitem3 {
    grid-area: item3;
    border-top: 1px solid lightgray;
    margin: 0;
    padding: 1rem 0;
    text-align: center;
}

.divitem2 > h3 {
    padding: 1rem;
    margin: 1rem 0;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    text-align: left;
    color: #444444;
    text-decoration: none;
    line-height: 1.2;
}

.divitem2 > p {
    padding: 1rem;
    margin: 1rem 0;
    text-align: justify;
    color: #444444;
    /*    color: #212121;*/
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    line-height: 1.4;
}

.divitem2 > blockquote {
    padding: 0 1rem;
    margin: 1rem 0;
    color: #212121;
    border-left: 1px solid lightgray;
    text-align: justify;
}

/*******************************************

.vline {
    position: fixed;
    top: 0;
    left: 50%;
    bottom: 0;
    margin: 0;
    border: none;
    border-right: 2px solid lightcoral;
    z-index: -1;
}

*******************************************/

div.polaroid {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1rem auto 0;
    padding: 1rem 1rem 0 1rem;
}

div.genius {
    text-align: center;
    padding: 1rem;
    letter-spacing: 1.5px;
    font-weight: 400;
    text-decoration: underline;
    text-transform: uppercase;
    font-kerning: auto;
}
